* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    touch-action: manipulation;
}

body {
    background: #fff;
    font-family: var(--font-sans);
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}
