.boat-specs {
    max-width: 800px;
    margin: 20px auto;
    padding: 25px;
}
.boat-specs__text h2 {
    font-family: $font-serif;
    font-size: 1.6em;
    font-weight: normal;
    margin: 0 0 20px;
}
.boat-specs__text p {
    font-family: $font-serif;
    font-size: 1em;
    line-height: 1.7;
    margin: 0 0 20px;
}
.boat-specs table {
    width: 100%;
}
.boat-specs td {
    border-bottom: 1px solid #efefef;
    font-family: $font-sans;
    font-size: .8em;
    padding: 15px 0;
    width: 50%;
}
.boat-specs tr:last-child td {
    border-bottom: 0;
}
.boat-specs__figure {
    display: none;
}
@media screen and (min-width: 700px) {
    .boat-specs {
        align-items: center;
        display: flex;
    }
    .boat-specs__text {
        width: 50%;
    }
    .boat-specs__figure {
        display: block;
        padding: 0 40px;
        text-align: center;
        width: 50%;
    }
    .boat-specs__figure img {
        max-width: 100%;
    }
}
