.content {
    margin-bottom: 60px;
}
.content--spaced {
    margin-top: 60px;
}
.content__photo {
    display: block;
    max-width: 1300px;
    margin: 60px auto;
    width: 100%;
}
.content__photo--crew {
    max-width: 1000px;
}
.content p {
    font-family: $font-serif;
    font-size: 1em;
    line-height: 1.7;
    margin: 20px auto;
    max-width: 800px;
    padding: 0 25px;
}
