.hero {
    background: $color-primary;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 400px;
}
.hero--full {
    min-height: 80vh;
}
.hero__content {
    margin: 0 auto;
    max-width: 800px;
    padding: 25px;
    text-align: left;
    width: 100%;
}
.hero__intro {
    color: #fff;
    font-family: $font-serif;
    font-size: 1.2em;
    font-style: italic;
    margin: 0;
}
.hero__header {
    color: #fff;
    font-family: $font-sans;
    font-size: 1.8em;
    letter-spacing: 6px;
    margin: 10px 0 0;
    text-transform: uppercase;
    -webkit-text-fill-color: $color-primary; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}
.hero__body {
    color: #fff;
    font-family: $font-serif;
    font-size: 1em;
    line-height: 1.6;
    margin: 15px 0 0;
    max-width: 600px;
}
.hero__footer {
    @include header;
    color: #fff;
    font-size: .6em;
    padding: 15px;
    text-align: center;
}
@media screen and (min-width: 900px) {
    .hero {
        background-position: right center;
        background-size: 50% auto;
        min-height: 500px;
    }
    .hero--full {
        min-height: 80vh;
    }
    .hero__intro {
        font-size: 1.4em;
    }
    .hero__header {
        font-size: 3.2em;
    }
}
