.recent-posts {
    margin: 0 auto;
    max-width: 1200px;
}
.recent-post {
    margin: 0 10px 20px;
    position: relative;
    text-decoration: none;
}
.recent-post:after {
    background: #efefef;
    content: '';
    display: block;
    height: 0;
    padding-bottom: 56.25%;
}
.recent-post img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.recent-post h3 {
    @include header;
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 1.2em;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 30px;
    position: absolute;
    text-align: center;
    transition: background .2s ease;
    width: 100%;
}
.recent-post:hover h3 {
    background: rgba(#000, .4);
}

@media screen and (min-width: 600px) {
    .recent-posts {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 30px;
    }
    .recent-post {
        margin: 0 10px 10px;
        width: calc(50% - 20px);
    }
}

@media screen and (min-width: 900px) {
    .recent-posts {
        justify-content: flex-start;
    }
    .recent-post {
        width: calc(33.33333% - 20px);
    }
}
