.recent-posts {
    margin: 0 auto;
    max-width: 1200px;
}
.recent-post {
    margin: 0 10px 20px;
}
.recent-post__photo {
    display: block;
    position: relative;
}
.recent-post__photo:after {
    background: #efefef;
    content: '';
    display: block;
    height: 0;
    padding-bottom: 66.6666%;
}
.recent-post__photo img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.recent-post__text {
    padding: 30px 20px;
}
.recent-post__text h3 {
    font-family: $font-serif;
    font-size: 1.4em;
    font-style: italic;
    font-weight: normal;
    margin: 0 0 15px;
}
.recent-post__text h3 a {
    color: inherit;
    text-decoration: none;
}
.recent-post__intro {
    font-family: $font-serif;
    font-size: .9em;
    line-height: 1.7;
    margin: 15px 0;
}
.recent-post__more {
    margin: 0;
}
.recent-post__more a {
    @include underline;
    @include header;
    color: $color-link;
    font-size: .6em;
}

@media screen and (min-width: 600px) {
    .recent-posts {
        align-items: flex-start;
        display: flex;
        justify-content: space-around;
    }
    .recent-post {
        margin: 0 10px 10px;
        width: calc(50% - 20px);
    }
}

@media screen and (min-width: 900px) {
    .recent-posts {
        justify-content: center;
    }
    .recent-post {
        width: calc(33.33333% - 20px);
    }
}
