.alert {
    background: #2ecc71;
    bottom: 0;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
    left: 0;
    padding: 16px;
    position: fixed;
    text-align: center;
    width: 100%;
}
